.rainbow {
  margin: 40px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 2px 2px #ff0000, -2px 5px 0 #ff7f00, -4px 10px 0 #ffff00, -8px 15px 0 #00ff00, -12px 20px 0 #0000ff, -16px 25px 0 #4b0082, -20px 30px 0 #9400d3;
}
